.login-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.login-container input{
    border-radius: 5px;
    height: 35px;
    margin: 10px;
}
.login-container h1{
    font-family: calibri;
    font-weight: bold;
}
.login-container button{
    background-color: blue;
    padding: 8px;
    width: 65px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

}
.login-container form{
    border: 2px solid blue;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px;
}
