/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css" */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products{
  display: flex;
}

.strike{
  text-decoration: line-through;
}
.todos-container{
  border:1px solid blue;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px;
  text-align: center;
  padding: 15px;
  /* margin: 15px; */
  height: 100vh;
  box-sizing: border-box;
  

}

.todos-container button{
  /* background-color: blue; */
  color: white;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
.todos-container div button{
  /* background-color: blue; */
  color: white;
  border: none;
  width: 50px;
  padding:10px;
  border-radius: 10px;
  font-size: 15px;  

}
.del-btn{
  background-color: red;
}
.add-btn{
  background-color: blue;
}

.list-items div{
  /* background-color: red; */
  box-shadow: 2px 2px 2px 2px;
  width: 50%;
  margin: 6px auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.todo{
  width: 50%;
}

.done-btn{
  background-color: green;
}
.undo-btn{
  background-color: orange;
}


