/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css" */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products{
  display: flex;
}

.pcard{
  width: 150px;
  height: 250px;
  padding: 10px;
  /* height: 250px; */
  /* border:1px solid; */
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  /* background:linear-gradient(orange,white); */
  
  box-shadow: 2px 2px 5px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* object-fit: scale-down; */

  
  
}
.pcard img{
  width: 30%;
  
  /* object-fit: scale-down; */
}
.products-container{
  /* width: 70vw; */
  padding: 0px;
  justify-content: center;
  /* border: 1px solid green; */
}

.cart-container{
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px;
  box-shadow: 1px 1px 2px 1px;
  /* width: 30%; */
  text-align: center;
}

.cart-item{
  height: 80px;
  background-color:lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
}
.cart-item img{
  mix-blend-mode:darken;
}
.i{
  background-color: transparent;
  mix-blend-mode:darken;
}

.product-heading{
  text-align: center;
  font-weight: bold;
  font-family: calibri;
}

.input-element{
  height: 30px;

}

.cart-icon{
  color: white;
  font-size: 25px;
}
.nav-container{
  color: white;
  /* border: 1px solid red; */
}
.login-button{
  padding: 5px;
  width:60px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 0px 10px;
}